<%= form_for @journal_entry, url: {action: 'create'}, html: {class:'journal_entry_form'} do |f| %>
    <fieldset>
      <legend>New Journal Entry</legend>

      <div class="control-group">
        <%= f.label :journal, class: 'control-label' %>
        <div class="condtrols">
          <%= f.select(:journal_id, options_from_collection_for_select(@journals, :id, :name)) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :description %>
        </div>
      </div>

      <div class="control-group">
        <span><label style="display: inline-block;">Location </label><span class="spinner"> <i class="icon-spin icon-refresh"></i></span></span>
      </div>

      <div class="control-group">
        <%= f.label :entry, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :entry, :style => 'width: 100%; height: 400px;' %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Save', :class => 'btn btn-success' %>
      </div>
    </fieldset>
<% end %>
<script type="text/javascript">
    $(document).on('page:change', function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position){
                console.log(position.coords)
                var lat = $('<input>')
                        .attr("type", "hidden")
                        .attr("name", "journal_entry[latitude]")
                        .val(position.coords.latitude);
                var lon = $('<input>')
                        .attr("type", "hidden")
                        .attr("name", "journal_entry[longitude]")
                        .val(position.coords.longitude);
                $('.journal_entry_form').append($(lon));
                $('.journal_entry_form').append($(lat));
                $('.icon-spin').removeClass('icon-spin icon-refresh').attr('class', 'icon-ok');
            });
        }
    });
</script>