<div>
    <h3>Media Search</h3>
    <p><span>Searching: </span><span><%= @query %></span></p>
</div>

<div>
    <table>
        <% @results.each do |r| %>
            <tr>
                <td>
                    <a href="<%= r[:artworkUrl] %>" target="_blank">
                        <img src="<%= r[:thumbnailUrl]%>">
                    </a>
                </td>
                <td><p><%= r[:type] %></p></td>
                <td><p> <%= r[:description] %></p></td>
            </tr>
        <% end %>
    </table>
</div>
